.navbar {
  /* background-color: var(--Hearder) !important; */
  background-color: transparent;
}
.logo {
  text-transform: uppercase;
  color: var(--listColor) !important;
  font-weight: 900 !important;
  z-index: 0 !important;
}
.sticky_Nav {
  background-color: var(--listColor);
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1;
  transition: 0.2s ease-in-out !important;
}
.sticky_Nav .list a {
  color: white !important;
}
.sticky_Nav a {
  color: white !important;
}
.sticky_Nav .btn {
  border: 1px solid white !important;
  transition: 0.3s ease-in-out !important;
  color: #ffff;
}
.sticky_Nav .btn:hover {
  background-color: white !important;
  color: var(--listColor) !important;
}

.sticky_Nav .nav_active {
  border-bottom: 1px solid white !important;
}

.list a {
  color: var(--listColor) !important;
  font-weight: 600 !important;
  transition: 0.7s ease-in !important;
  z-index: 0 !important;
}
.btn {
  border: 1px solid var(--listColor) !important;
  transition: 0.3s ease-in-out !important;
  margin: 5px;
  border-radius: 5px !important;
}
.btn:hover {
  background-color: var(--listColor) !important;
  color: #ffff !important;
}

.nav_active {
  border-bottom: 1px solid var(--listColor) !important;
}
