.hero_section {
  background-image: url(../Images/Home\ Page.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  line-height: 50px !important;
  overflow-x: hidden;
  padding: 20px 60px;
  position: relative;
}

.hero_section h2 {
  color: var(--Hearder);
  font-size: 2.4rem;
  font-weight: 600;
  margin: 20px 0px;
}

.hero_section p {
  color: var(--Hearder);
  line-height: 30px;
  width: 30rem;
}

.buy_btn {
  margin-top: 0.7rem;
  font-weight: 600;
  padding: 1px;
  background-color: var(--Hearder);
  border-radius: 5px;
  width: 180px;
  border: none;
  outline: none;
  transition: 1.1s all;
}
.buy_btn a{
    color: var(--listColor);
}

.buy_btn:hover {
  transform:translateX(30px) !important;
}
