.main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap !important;
}


.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}
.product_item {
  cursor: pointer;
}

.product_item .product_img a img {
  width: 13rem !important;
  height: 13rem !important;
}
.product_card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.product_info a h3 {
  font-weight: 700;
  color: var(--primary-color);
  margin-top: 2rem;
  /* font-size: 1.1rem;    */
}
.product_info a h3:hover {
  color: initial;
}
.product_name {
  font-size: 0.6rem;
  width: 16rem;
  text-align: center;
}
.product_P {
  color: var(--primary-color);
  font-size: 0.9rem;
  text-align: center;
}
.product_card-bottom .price {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.product_card-bottom span i {
  font-size: 1.2rem;
  padding: 6px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  margin-right: 2rem;
}

@media only screen and (max-width: 768px) {
  .product_card-bottom span i {
    font-size: 1rem;
  }
}
