.main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap !important;
}


.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 40px;
 
}
.product_item {
  cursor: pointer;
}



.product_item .product_img a img {
  width: 15rem !important;
  height: 15rem !important;
  text-align: center !important;
 /* box-shadow: 2px 2px 10px rgb(214, 212, 212); */
  /* aspect-ratio: 3/2 !important;
  object-fit: contain !important; */
  /* mix-blend-mode:color-burn !important; */
  /* z-index: 9999 !important; */

  
}
.product_card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.product_info a h3 {
  font-weight: 700;
  color: var(--primary-color);
  margin-top: 2rem;
  /* font-size: 1.1rem;    */
}
.product_info a h3:hover {
  color: initial;
}
.product_name {
  font-size: 0.8rem;
  width: 17rem;
  text-align: center;
}
.product_P {
  color: var(--primary-color);
  font-size: 0.9rem;
  text-align: center;
  margin-top: 8px;
}
.product_card-bottom .price {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.product_card-bottom span i {
  font-size: 1.2rem;
  padding: 6px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  margin-right: 2rem;
}

@media only screen and (max-width: 768px) {
  .product_card-bottom span i {
    font-size: 1rem;
  }
}
